.wrapBanner {
	background-color: black;
	padding: 36px 64px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 20px;

	.titleBanner {
		color: #fff;
		font-size: 40px;
		font-weight: 700;
		font-family: $integralCF;
	}
	.wrapBannerContact {
		.wrapInputEmail {
			height: 46px;
			min-width: 349px;
			padding: 12px 16px;
			background-color: #fff;
			border-radius: 62px;
			display: flex;
			align-items: center;
			gap: 12px;

			.iconEnvelope {
				font-size: 18px;
				color: rgba(0, 0, 0, 0.4);
			}

			input {
				font-size: 16px;
				font-weight: 400;
				color: rgba(0, 0, 0, 0.4);
				border: none;
				outline-style: none;
				flex: 1;
			}
		}

		.btnSubscribe {
			margin-top: 14px;
			height: 46px;
			min-width: 349px;
			background-color: #fff;
			border-radius: 62px;
			font-size: 16px;
			font-weight: 500;
			border: none;
		}
	}
}
