$integralCF: "FONTSPRING DEMO - Integral CF Extra";
$satoshiLight: "Satoshi-Light";
$satoshiLightItalic: "Satoshi-LightItalic";
$satoshiRegular: "Satoshi-Regular";
$satoshiLight: "Satoshi-Light";
$satoshiItalic: "Satoshi-Italic";
$satoshiMedium: "Satoshi-Medium";
$satoshiMediumItalic: "Satoshi-MediumItalic";
$satoshiBold: "Satoshi-Bold";
$satoshiBoldItalic: "Satoshi-BoldItalic";
$satoshiBlackItalic: "Satoshi-BlackItalic";
$satoshiLight: "Satoshi-Light";

